
body{
    font-family: Verdana , Arial;
    margin: 25px 25px 0px 25px;
}

h1{
    font-size: 48px;
    color: #0000ff;
    padding: 15px;
}

h2{
    font-size: 32px;
}

p{
    font-size: 24px;
    padding: 0px 0px 15px 15px;
}

img{
    width: 350px;
    border: 10px dashed #000000;
}

div{
    min-height: 100px;
    padding: 20px;
    border: 3px solid #ffffff;
}

.red{
    background-color: #ffc6c4;
    text-align: right;
    margin-left: 50px;
    border: 0px 0px 3px 10px;
}

.blue{
    background-color: #add8e6;
    text-align: left;
    margin-right: 50px;
    border: 0px 10px 3px 0px;
}

span{
    text-decoration: underline;
    text-transform: uppercase;
}

footer{
    background: #000000;
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
}